@model List<TombProspectors.Database.Models.Loot>
@{
	Layout = "_Layout";
	ViewBag.Title = "Loot";
}

<div class="ui blurring message segment">
	<div class="ui dimmer">
		<div class="ui indeterminate text loader">Loading Results</div>
	</div>

	<div class="header">Find glyphs by Loot</div>
	<p>
		<select id="lootSelector" class="ui fluid selection search dropdown">
			<option value="">Select Loot</option>
			@foreach (var item in Model)
			{
				<option value="@item.Id">@item.ItemName</option>
			}
		</select>
	</p>
</div>

<div id="results">
	<div id="resultsAnchor"></div>
</div>

@section Script {
	<script type="text/javascript">
		$(document).ready(function () {
			$("#lootSelector").dropdown("setting", "onChange", function (lootId) {
				$(".segment").dimmer("show");
				var link = "/lists/LoadGlyphsByLoot?lootId=" + lootId;

				$.get(link, function (data) {
					$("#resultsAnchor").html(data);
					$(".segment").dimmer("hide");
				});
			});
		});
	</script>
}